<body>
    <nav style="background-color: rgba(0, 0, 0, 0.3);" class="navbar navbar-light bg-dark">
        <div class="container-fluid">
            <img src="./assets/logo.png" width="80px" class="respon d-inline-block align-top navbar-brand" alt="">
            <a (click)="activo()" class="respon navbar-brand" routerLink="/reviews-component"
                routerLinkActive="active">Reseñas</a>
            <a (click)="activo()" class="respon navbar-brand" routerLink="/contacto-component"
                routerLinkActive="active">Contacto</a>
            <a (click)="activo()" class="respon navbar-brand" routerLink="/acerca-component"
                routerLinkActive="active">Acerca</a>
        </div>
    </nav>

    <router-outlet></router-outlet>

    <div *ngIf="ocultar==false" class="texto">
        <h2 style="text-align: center;">Bienvenido a Reviewers</h2>
        <p>
            En nuestra pagina encontraras reseñas sobre los juegos favoritos y no tan favoritos de los gamers y los
            expertos.
        </p>
        <div style="text-align: center;">
            <img src="./assets/icon.png" alt="" width="30%">
        </div>
    </div>

    <footer style="background-color: rgba(150, 150, 150, 0.3);" class="text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <img src="./assets/logo.png" width="20%" class="d-inline-block align-top" alt="">
                </div>

                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <p style="color: whitesmoke;">
                        Reviewers, de gamer para gamers.
                    </p>
                </div>
            </div>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.3);color: whitesmoke;">
            © 2021 Copyright:
            <a href="#">Reviewers</a>
        </div>
    </footer>
</body>