<section>
    <div class="texto">
        <h2 style="text-align: center;">Bienvenido a Reviewers</h2>
        <p>
            En nuestra pagina encontraras reseñas sobre los juegos favoritos y no tan favoritos de los gamers y los
            expertos.

        </p>
        <br>
        <h4 style="text-align: center;">¿Quienes somos?</h4>
        <div style="text-align: center;">
            <img src="./assets/icon.png" alt="" width="30%">
        </div>
        <p>
            Somos un equipo independiente de gamers criticos de videojuegos y queremos dar nuestra opinion (y la del
            publico)
            sobre los videojuegos tanto populares en la industria como aquellos que son de desarrollo independiente y se
            merecen que los conozcas, tanto por sus cosas buenas como malas.
            <br><br>
            Nuestro objetivo es que mas personas se interesen en los videojuegos y que logren conocer que hace bueno
            o malo a un videojuego en la opinion del publico general.
        </p>
    </div>
</section>